* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 80px;
    background-color: forestgreen;
}

.container {
    max-width: 650px;
    min-width: 320px;
    margin: 0 auto;
}

.content {
    display: flex;
    justify-content: space-around;
}

.block {
    max-width: 150px;
    min-height: 150px;
    border: 1px solid #000;
}

.top {
    min-height: 100vh;
    background-color: forestgreen;
}

.center {
    min-height: 100vh;
    background-color: orange;
}