.container {
    max-width: 750px;
    margin: 0 auto;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.text {
    flex-grow: 1;
    flex-basis: 200px;
    border: 1px solid black;
}

.block {
    height: 100px;
    width: 50px;
    border: 1px solid black;
    /* flex-grow: 1; */
}

.block-1 {
    flex-grow: 1;
    order: 1;
}

.block-2 {

    order: 0;
}